:root {
    --primary-color: #FF5E00;
    --secondary-color: #171717;
    --background-color: #1e1e1e;
    --bg-color: #080808;
    --text-color: #d2d2d2;
    --background-gradient: linear-gradient( 90deg, #080808 0%, rgba(8,8,8,0.4) 25%, rgba(0,0,0,0) 50%, rgba(8,8,8,0.4) 75%, #080808 100% );
    --image-invert: invert(0%) hue-rotate(180deg) contrast(120%);
    --image-grayscale: grayscale(0%) contrast(120%) brightness(90%);
}

.light {
  --primary-color: #FF5E00;
  --secondary-color: #f6f6f6;
  --background-color: #f5f5f5;
  --bg-color: #555555;
  --text-color: #050505;
  --background-gradient: linear-gradient(90deg, var(--bg-color) 0%, rgba(241, 241, 241, 0.4) 25%, rgba(255, 255, 255, 0) 50%, rgba(243, 243, 243, 0.4) 75%, var(--bg-color) 100%);
  --image-grayscale: grayscale(100%) contrast(120%) brightness(90%);
  --image-invert: invert(100%) hue-rotate(180deg) contrast(120%);
}


* {
  box-sizing: border-box;
  font-weight: lighter;
}

::selection {
  background-color: #ff69b401;
  color: white;
}

::-moz-selection {
  background-color: #ff69b401;
  color: white;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Adamina', serif;
    background-color: var(--primary-color);

    margin: 0;
}

h2, p, h1, ul {
  list-style: none;
  word-break: break-word;
  color: var(--text-color);
  overflow-wrap: break-word;
  white-space: normal;
  font-size: clamp(10px, 1vw, 14px);

}

img[inverted] {
  filter: var(--image-invert);
}

img[grayscale] {
  filter: var(--image-grayscale);
}

a[disabled] {
  pointer-events: none;
  color: gray;
  cursor: not-allowed;
  text-decoration: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
    transition: all 0.3s ease-in-out;
}

a:hover {
  color: var(--primary-color);
}


/* MAIN PAGES */

main  {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: var(--background-color);
    flex-wrap: wrap-reverse;
    align-items: end;
    justify-content: space-evenly;
    overflow: hidden;
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
}

main .img-me {
  position: block;
  max-width: 500px;
  min-width: 200px;
  max-height: 100%;
  width: 50%;
}

main img {
  display: relative;
  z-index: 9;
}

.bg-text {
  position: absolute; 
  top: 45%;           
  left: 57%;      
  transform: translate(-50%, -50%); 
  width: 150%;
  max-width: 2000px;
  min-width: 1000px;
  z-index: 7;
}

.vector1 {
    position: absolute;
    width: 50%;
    max-width: 350px;
    min-width: 210px;
    z-index: 8;
    top: 10%;
    transform: translateX(-50%);
    left: 45%;
}

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--background-gradient);
    z-index: 8;
}


/* NAVBAR MENU  */

.navbar {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
  transform: translateX(-10%);
}

#hamburger {
  width: 32px;
  height: 28px;
  scale: 0.7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

#hamburger span {
  display: block;
  height: 4px;
  width: 100%;
  background: var(--text-color);
  border-radius: 2px;
  transition: 0.3s;
}
#hamburger-menu {
  cursor: pointer;
}

/* HEADER */

header {
  position: block;
  height: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  column-gap: 30px;
  padding: 0 0 40px 0;
  z-index: 8;
  gap: 30px;
}

header h1 {
    font-size: clamp(20px, 3.472vw, 50px);
    color: var(--text-color);
    margin: 0;
    letter-spacing: 0.5px;
    line-height: 1;
}

header .quote{
    text-align: right;
    color: var(--text-color);
    margin: 0;
    width: 100%;
    font-size: clamp(7px, 1.5vw, 14px);
    width: auto;
    line-height: 1.7;
    padding: 10px 0 40px 0;
}

.role {
  width: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}

.role p {
  color: var(--primary-color);
  font-size: clamp(9px, 1vw, 1rem);
  margin: 0;
}

.role hr {
  flex: 1;
  width: 10vw;
  max-width: 100px;
  min-width: 20px;
  border: 1px solid var(--primary-color);
  height: 0;
  margin: 0;
}

/* LINE STACKS */
.stacks {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 90vw;
  max-width: 100vw;
  box-shadow: inset 0 2px 0 0 var(--text-color), inset 0 -2px 0 0 var(--text-color);
  background: transparent;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 5px 0;
  border: none;
  z-index: 1; /* Lebih kecil dari header */
}

.stacks-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  gap: 10px;
  animation: slide-left 20s linear infinite;
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.stacks-inner p {
    margin: 0;
    text-transform: uppercase;
    color: var(--text-color);
    width: auto;
}

.stacks-inner p, .stacks-inner img {
  flex-shrink: 0;
}

/* MENU LAYER */

.menu {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--secondary-color);
    z-index: 9;
    padding: 20px;
    font-size: clamp(10px, 1vw, 14px);
}

.menu::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'><filter id='n' x='0' y='0'><feTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='3' stitchTiles='stitch'/></filter><rect width='100%' height='100%' filter='url(%23n)'/></svg>");
    opacity: 0.05;
    pointer-events: none;
}

.menu.show {
    display: flex;
}


.menu .top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    width: 100%;
}

.logo {
  mix-blend-mode: plus-lighter;
  background-color: transparent;
}

.menu .mid {
    display: flex;
    flex-direction: row;
    padding: 40px 0;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    gap: 50px;
}

.menu .bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30px;
    width: 100%;
}

.mid-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    height: 100%;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav a {
  font-size: clamp(24px, 5vw, 60px);
}

.theme {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.theme img {
  position: absolute;
  top: -5px;
  right: -20px;
  height: 250%;
}

.mid-img {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 40px;
    flex: 3;
    width: 100%;
    height: 100%;
}

.mid-img>img {
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.menu-hidden {
    display: none;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.menu-hidden-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
    padding: 0;
    color: var(--text-color);
}

.gap {
  gap: 40px;
}

.rotate {
    transform: rotate(90deg);
}

.btm-social {
  width: 10vw;
  height: 10vw;
  min-width: 20px;
  min-height: 20px;
  max-width: 30px;
  max-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--text-color);
  border-radius: 50px;
  transition-property: all 0.3s ease-in-out;;
}

.btm-social:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
  border: 1px solid var(--background-color);
}

.bottom-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.bottom div, p {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 0;
}



/* Media Screen */

@media screen and (max-width: 651px) {
  .menu .mid {
    flex-direction: column-reverse;
    gap: 10px;
  }
  .mid-item {
    flex-direction: column-reverse;
    justify-content: space-around;
  }
  .vector1 {
    z-index: 9;
  }
  .bg-text {
    min-width: 900px;
    top: 45%;           
    left: 50%;
    transform: translate(-40%, -50%); 
  }
}

@media (max-width: 471px) {
  .vector1 {
    top: 5%;
    left: 55%;
    min-width: 100px;
  }
  .bg-text {
    top: 45%;
    left: 40%;
    rotate: 15deg;
  }
  main {
    padding-top: 100px;
    gap: 10px;
    align-content: flex-start;
    align-items: stretch;
  }
  .menu {
    display: flex;
    flex-direction: column-reverse;
    background: transparent;
    padding: 10px;
  }
  #hamburger-menu {
    display: none;
  }
  .logo {
    mix-blend-mode: screen;
    background-color: transparent;
  }
  .menu .mid {
    display: none;
  }
  .menu-hidden {
    display: flex;
  }
  .menu .bottom {
    display: none;
  }
  .navbar, .top nav {
    display: none;
  }
  .top img{
    height: 30px;
  }
  .role {
    display: none;
  }
  .stacks {
    position: relative;
    top: 0;
  }
  header {
    gap: 5px;
    padding-bottom: 10px;
  }
  header h1 {
    line-height: 1.5;
  }
}

@media (max-width: 350px) {
  header h1 {
    font-size: clamp(8px, 1vw, 14px);
  }
  header .quote {
    font-size: clamp(5px, 1vw, 12px);
  }
  .bg-text {
    min-width: 320px;
    top: 20%;
    left: 55%;
    rotate: 0deg;
    transform: translate(-40%, -50%); 
  }
  main .img-me {
  position: relative;
  top: 30%;
  max-width: 200px;
  min-width: 100px;
  height: 100%;
  width: 50%;
  }
  .menu .bottom {
    align-items: center;
    justify-content: space-between;
  }
  .bottom p{
    text-align: center;
  }
  .bottom p, .bottom div{
    font-size: clamp(8px, 1vw, 14px);
    flex-wrap: wrap;
  }
}