:root {
    --primary-color: #FF5E00;
    --secondary-color: #50e3c2;
    --background-color: #1e1e1e;
    --bg-color: #080808;
    --text-color: #ffffff;
}

body {
    font-family: 'Adamina', serif;
    background-color: var(--primary-color);
    margin: 0;
}
